* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: rgb(19, 67, 223);
}
h1 {
    text-align: left;
    margin: 20px auto 20px 13px;
}
.container {
    margin: 100px auto;
    text-align: center;
    width: 500px;
    min-height: 500px;
    padding: 30px; 
    background: linear-gradient(to left,#43cea2 , #185a9d);
    line-height: 32px;
}
.container li {
    text-align: left;
    margin-left: 30px;
}
.container input {
    margin-bottom: 30px;
    min-width: 300px;
    height: 3rem;
    padding: 10px 20px;
    border: none;
    border-bottom: 1px solid black;
}
.add {
    min-width: 80px;
    height: 3rem;
    margin-left: 20px;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: chartreuse;
    border: none;
}
.remove {
    display: none;
}
@media (max-width : 1024px) {
    h1 {
        line-height: 35px;
    }
    .container {
        margin: 50px auto 50px 30px;
        text-align: center;
        width: 300px;
        min-height: 400px;
        padding: 20px; 
        background: linear-gradient(to left,#43cea2 , #185a9d);
        line-height: 25px;
        display: inline-block;
    }
    .container input {
        margin-bottom: 10px;
        min-width: 250px;
    }
    .add {
        min-width: 100px;
        height: 3rem;
        margin-left: 20px;
        padding: 10px;
    }

}